<div style="margin-left: 25%; margin-right: 25%">
    <h1>BSNO API</h1>
    <p>N.B: to return the right statistics for most queries an event_id is needed, otherwise it will default to event 0. Event id's can be found at <a href="/api/events">bsno.dylannz.com/api/events</a>.
        You can use the ?limit=x to limit results to x number of results.
    </p>
    <hr>
    <!-- Population -->
    <h5><a href="/api/poulation">https://bsno.dylannz.com/api/population</a></h5>
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Population</h3></div>
        <div class="panel-body">
            <p>Returns the current count of logged in Briggs players, and the count of each faction</p>
            <p>DISCLAIMER: Should be accurate within ~5 players due to issues with the DBG API</p>
        </div>
        <div class="panel-footer json">
            <h5>Example:</h5>
            <p>"total": "250",</p>
            <p>"vs": "69",</p>
            <p>"nc": "90",</p>
            <p>"tr": "91",</p>
            <p>"timestamp": 1493720335997</p>
        </div>
    </div>
    <!-- Participant death statistics for an event -->
    <hr>
    <h5><a href="/api/participants?event_id=">bsno.dylannz.com/api/participants?event_id=</a></h5>
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Participants</h3></div>
        <div class="panel-body">
            <p>Returns the kills/deaths/headshots of every player/outfit that participated in an event. <br>
                By default returns an object containing player & outfit stats but can be modified by passing in the group attribute with "player" or "outfit" to return an array for just that group.<br>
                Event_id needed so that the api knows which event to return data for.
            </p>
        </div>
        <div class="panel-footer json">
            <h5>Example:</h5>
            <p>players: [{</p>
            <p>character_id": "5428180936948328209",</p>
            <p>"name": "DylanNZ",</p>
            <p>"faction": 1,</p>
            <p>"outfit_id": "37512545478648131",</p>
            <p>"o_name": "Fifth Column Gaming",</p>
            <p>"o_alias": "FCLM",</p>
            <p>"d": "11",</p>
            <p>"k": "73",</p>
            <p> "h": "41"</p>
            <p> }],</p>
            <p> "outfit_id": "37512545478648131",</p>
            <p> "name": "Fifth Column Gaming",</p>
            <p>"alias": "FCLM",</p>
            <p>"faction": 1,</p>
            <p>"k": 1050,</p>
            <p>"d": 536,</p>
            <p>"h": 220,</p>
            <p>"members": 20</p>
            <p> }]</p>
        </div>
    </div>
    <!-- Outfit - Facility interactions for an event -->
    <hr>
    <div class="query">
        <h3>Get outfit's capture/defenses in an event</h3>
        <h5><a href="/api/facilities?event_id">bsno.dylannz.com/api/facilities?event_id=</a></h5>
        <p style="font-style: italic">Returns the capture/defenses of outfits involved in the specified event. Event_id needed</p>
        <p>Example result: </p>
    </div>
    <br>
    <!-- Player leaderboard for an event-->
    <div class="query">
        <h3>Player leaderboard for an event</h3>
        <h5><a href="/api/player_leaderboard?event_id=">bsno.dylannz.com/api/player_leaderboard?event_id=</a></h5>
        <p style="font-style: italic">Returns the top 25* characters in 7 categories (Kills, Deaths, Headshots, Shielding, Healing, Reviving, Resupplying) as an object. Event_id needed</p>
        <p style="font-style: italic">* Can be change by passing the ?limit=x attribute and will return x results</p>
        <p style="font-style: italic">Can be modified to return a single stat as an array by passing through the "?stat=" attibute with whichever stat you would like</p>
        <p>Example result: </p>
    </div>
    <br>
    <!-- Outfit leaderboard for an event-->
    <div class="query">
        <h3>Outfit leaderboard for an event</h3>
        <h5><a href="/api/outfit_leaderboard?event_id=">bsno.dylannz.com/api/outfit_leaderboard?event_id=</a></h5>
        <p style="font-style: italic">Returns the top 25* characters in 7 categories (Kills, Deaths, Headshots, Shielding, Healing, Reviving, Resupplying) as an object. Event_id needed</p>
        <p style="font-style: italic">* Can be change by passing the ?limit=x attribute and will return x results</p>
        <p style="font-style: italic">Can be modified to return a single stat as an array by passing through the "?stat=" attibute with whichever stat you would like</p>
        <p>Example result: </p>
    </div>
    <br>
</div>