<!DOCTYPE html>
<html>
<head>
    <title>BSNO Events</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div id="app">
    <div class="jumbotron" style="text-align: center;" >
        <h1>{{ event.name }} {{event.id}} on {{ event.date }}. </h1>
        <h4>Started: <strong>{{ event.start }}</strong> | Ended: <strong>{{ event.end }}</strong> | Cause: <strong>{{
            event.ending }}</strong></h4>
    </div>

    <h3>Leaderboards (Top 50)</h3>
    <br>
    <div id="leaderboards">
        <div class="col-md-6">
            <div class="statToDisplay">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="">Kills</a></li>
                    <li role="presentation"><a href="">Deaths</a></li>
                    <li role="presentation"><a href="">Headshots</a></li>
                    <li role="presentation"><a href="">Heals</a></li>
                    <li role="presentation"><a href="">Shields</a></li>
                    <li role="presentation"><a href="">Revives</a></li>
                    <li role="presentation"><a href="">Resupplies</a></li>
                </ul>
            </div>

            <plb-template :current="pCurrent"></plb-template>
        </div>

        <div class="col-md-6">
            <div class="statToDisplay">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="">Kills</a></li>
                    <li role="presentation"><a href="">Deaths</a></li>
                    <li role="presentation" class="active"><a href="">Captures</a></li>
                    <li role="presentation"><a href="">Defenses</a></li>
                </ul>
            </div>

            <olb-template :current="oCurrent"></olb-template>
        </div>
    </div>
    <br>
    <hr class="feature-divider">
    <h3>All Participants in {{ event.name }} {{ event.id }}</h3>
    <br>
    <div id="all" class="col-md-12">
        <div id="tableToDisplay">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="">Player Leaderboard (Top 50)</a></li>
                <li role="presentation"><a href="">(limited) Outfit Leaderboard (Top 50)</a></li>
                <li role="presentation"><a href="">All Player Stats</a></li>
                <li role="presentation"><a href="">All Outfit Stats</a></li>
            </ul>
        </div>
        <div class="table-responsive" id="participants" >
            <table class="table">
                <thead>
                <tr>
                    <th>Outfit</th>
                    <th>Player</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>K/D</th>
                    <th>Headshots</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="player in players" v-bind:id="player.character_id" v-bind:class="player.faction">
                    <td>{{ player.o_alias }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.k }}</td>
                    <td>{{ player.d }}</td>
                    <td>{{ player.kdr }}</td>
                    <td>{{ player.headshotKills }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<hr class="feature-divider">
<footer>
    <p class="pull-right"><a href="/api/">Stats API</a></p>
    <p>Developed by Dylan Cross (DylanNZ) and Jared Hall (MonoNZ) ·
        <a href="https://github.com/FCLM/BSNO">Code</a> ·
        <a href="https://fifthcolumngaming.com">FCLM</a>
    </p>
</footer>

<!-- VUE TEMPLATES -->
<template id="pleaderboard-template">
    <div class="table-responsive" id="pleaderboard">
        <table class="table">
            <thead>
            <tr>
                <th>Outfit</th>
                <th>Player</th>
                <th>{{current.stat}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="player in current.players" v-bind:id="player.character_id">
                <td>{{ player.o_alias }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.stat }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<template id="oleaderboard-template">
    <div class="table-responsive" id="oleaderboard">
        <table class="table">
            <thead>
            <tr>
                <th>Outfit</th>
                <th>Tag</th>
                <th>Captures</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="outfit in current.outfits" v-bind:id="outfit.outfit_id" v-bind:class="outfit.faction">
                <td>{{ outfit._name }}</td>
                <td>{{ outfit._alias}}</td>
                <td>{{ outfit.capture }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/events.js"></script>
</body>
</html>