<!DOCTYPE html>
<html>
<head>
    <title>BSNO Events</title>

    <meta charset="UTF-8">
    <meta name="description" content="Planetside 2 Briggs Sunday Night OPs (BSNO)">
    <meta name="keywords" content="BSNO, PS2, Briggs, Briggs Sunday Night Ops, DylanNZ">
    <meta name="author" content="DylanNZ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="bsno.dylannz.com" target="_blank">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div class="row" id="app">
    <div class="jumbotron" style="text-align: center;" >
        <h1>{{ event.name }} {{event.id}} on {{ event.date }}. </h1>
        <h4>Started: <strong>{{ event.start }}</strong> | Ended: <strong>{{ event.end }}</strong> | Cause: <strong>{{
            event.ending }}</strong></h4>
    </div>

    <h3 id="leaderboardTitle">Leaderboards (Top 50)</h3>
    <br>
    <div id="leaderboards">
        <plb-template v-on:updatePLeaderboard="updatePLeaderboard" :id="event.id" :current="pCurrent"></plb-template>

        <olb-template v-on:updateOLeaderboard="updateOLeaderboard" :id="event.id" :current="oCurrent"></olb-template>
    </div>
    <div class="col-md-12"><hr class="feature-divider"/></div>
    <h3 id="participantsTitle">All Participants in {{ event.name }} {{ event.id }}</h3>
    <br>
    <all-template :current="allCurrent"></all-template>
</div>

<br>
<div class="col-md-12"><hr class="feature-divider"/></div>
<footer>
    <p class="pull-right"><a href="/api/">Stats API</a></p>
    <p>Developed by Dylan Cross (DylanNZ) and Jared Hall (MonoNZ) ·
        <a href="https://github.com/FCLM/BSNO">Code</a> ·
        <a href="https://fifthcolumngaming.com">FCLM</a>
    </p>
</footer>

<!-- VUE TEMPLATES -->

<!-- Player Leaderboard Template -->
<template id="pleaderboard-template">
    <div class="col-md-6">
        <div class="statToDisplay">
            <ul class="nav nav-tabs" role="tablist">
                <li v-for="menu in current.menus" v-bind:class="{ active: menu.active }"> <a v-on:click.prevent="updateBoard(menu.name)" href="#">{{ menu.capital }}</a> </li>
            </ul>
        </div>

        <div class="table-responsive" id="pleaderboard">
            <table class="table">
                <thead>
                <tr>
                    <th><a v-on:click.prevent="sortBy('Outfit')">Outfit</a></th>
                    <th><a v-on:click.prevent="sortBy('Player')">Player</a></th>
                    <th><a v-on:click.prevent="sortBy('Stat')">{{current.stat}}</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="player in current.players" v-bind:id="player.character_id" :class="['faction' + player.faction]">
                    <td>{{ player.o_alias }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.stat }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<!-- Outfit Leaderboard Template -->
<template id="oleaderboard-template">
    <div class="col-md-6">
        <div class="statToDisplay">
            <ul class="nav nav-tabs" role="tablist">
                <li v-for="menu in current.menus" v-bind:class="{ active: menu.active }"> <a v-on:click.prevent="updateBoard(menu.name)" href="#">{{ menu.capital }}</a> </li>
            </ul>
        </div>
        <div class="table-responsive" id="oleaderboard">
            <table class="table">
                <thead>
                <tr>
                    <th><a v-on:click.prevent="sortBy('Outfit')">Outfit</a></th>
                    <th><a v-on:click.prevent="sortBy('Tag')">Tag</a></th>
                    <th><a v-on:click.prevent="sortBy('Stat')">{{current.stat}}</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="outfit in current.outfits" v-bind:id="outfit._id" :class="['faction' + outfit._faction]">
                    <td>{{ outfit._name }}</td>
                    <td>{{ outfit._alias}}</td>
                    <td>{{ outfit.stat }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<!-- All Participants Template -->
<template id="all-group">
    <div id="all" class="col-md-12">
        <div id="tableToDisplay">
            <ul class="nav nav-tabs" role="tablist">
                <li v-for="menu in current.menus" v-bind:class="{ active: menu.active }"> <a v-on:click.prevent="updateBoard(menu.name)" href="#">{{ menu.capital }}</a> </li>
            </ul>
        </div>
        <div v-if="current.group == 'player'" class="table-responsive participants" >
            <table class="table">
                <thead>
                <tr>
                    <th><a v-on:click.prevent="sortBy('Outfit')">Outfit</a></th>
                    <th><a v-on:click.prevent="sortBy('Player')">Player</a></th>
                    <th><a v-on:click.prevent="sortBy('Kills')">Kills</a></th>
                    <th><a v-on:click.prevent="sortBy('Deaths')">Deaths</a></th>
                    <th><a v-on:click.prevent="sortBy('K/D')">K/D</a></th>
                    <th><a v-on:click.prevent="sortBy('Headshots')">Headshots</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="participant in current.participants" v-bind:id="participant.character_id" :class="['faction' + participant.faction]">
                    <td>{{ participant.o_alias }}</td>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.k }}</td>
                    <td>{{ participant.d }}</td>
                    <td>{{ kdr(participant.k, participant.d) }}</td>
                    <td>{{ hs(participant.k, participant.h) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="table-responsive participants" >
            <table class="table">
                <thead>
                <tr>
                    <th><a v-on:click.prevent="sortBy('Tag')">Tag</a></th>
                    <th><a v-on:click.prevent="sortBy('Outfit')">Outfit</a></th>
                    <th><a v-on:click.prevent="sortBy('Members')">Members</a></th>
                    <th><a v-on:click.prevent="sortBy('Kills')">Kills</a></th>
                    <th><a v-on:click.prevent="sortBy('Deaths')">Deaths</a></th>
                    <th><a v-on:click.prevent="sortBy('K/D')">K/D</a></th>
                    <th><a v-on:click.prevent="sortBy('Kills/Member')">Kills/Member</a></th>
                    <th><a v-on:click.prevent="sortBy('Headshots')">Headshots</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="participant in current.participants" v-bind:id="participant.outfit_id" :class="['faction' + participant.faction]">
                    <td>{{ participant.alias }}</td>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.members }}</td>
                    <td>{{ participant.k }}</td>
                    <td>{{ participant.d }}</td>
                    <td>{{ kdr(participant.k, participant.d) }}</td>
                    <td>{{ kMem(participant.k, participant.members) }}</td>
                    <td>{{ hs(participant.k, participant.h) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/events.js"></script>
</body>
</html>